*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
    font-weight: bold;
}
.main-list{
    display: flex;
    flex-direction: column;
    gap: 33px;
    padding: 33px 0 0 0 ;
    justify-content: center;
    align-items: center;
}
.list-content{
    border: 1px solid #c0c0c0;
    border-radius: 15px;
    width: 559px;
    height: auto;
    padding: 20px;
}
.content-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: black;
    padding: 0 0 20px 0;
}
.content-text{
    font-size: 12px;
}
.text{
    color: #C0C0C0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.content-footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 0 0 0;
}
.id{
    color: #C0C0C0;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.input{
    color: black;
    height: 30px;
    width: 400px;
    text-align: center;
}
.input_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.add{
    padding: 10px 5px;
}